import(intamap)
import(RcppArmadillo)
import(doSNOW)

useDynLib(psgp)

export(estimateParameters, spatialPredict, learnParameters, makePrediction, buildMetadata)

S3method(estimateParameters, psgp)
S3method(spatialPredict, psgp)
